<h1>Monthly Statistic</h1>

<p>New friendship requests: <%= @statistic[:friendship_requests] %></p>
<p>You posted posts: <%= @statistic[:posts] %></p>
<p>New likes to your posts: <%= @statistic[:comments] %></p>
<p>New comments to your posts: <%= @statistic[:likes] %></p>
